*{
	/*border: 1px solid red;*/
	overflow-x: hidden;
	font-family: palatino linotype;
}

body{
	margin: 0;
	padding: 0;
	background-color: #2D2D2E;
}

.body2{
	margin: 0; 
	padding: 18px 18px 0 18px;
}

p{
	color: #FAFAFA;
}

/*Partie commune (bandeau)*/

.bandeau{
	width: 100%;
}

.logo{
	width: 60px; 
	border: 1px solid white; 
	border-radius: 20px; 
	margin: 20px 20px;
}

#titre{	
	font-size: 310%;
	text-transform: uppercase; 
	text-align: center; 
	margin: 0 0 -1.5em 0;
	display: block; 
	position: relative; 
	top: -1.5em;
	font-family: impact;
	z-index: -1;
	background: linear-gradient(to left, blue, #0000C5, #C6C6FF, #00A8A8, #00A8A8); /*pour mettre le texte aux couleurs d'insta - cf fiche - */
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

	
.soustitre{
	color: #FAFAFA;
	opacity: .8;
	font-weight: lighter;
	padding: 2px; 
	border-radius: 10px; 
	text-align: center; 
	margin: 0;
	display: block; 
	position: relative; 
	top: -18px;
	font-family: Lucida Handwriting, impact, palatino linotype, Georgia;
	font-style: oblique;
	font-size: 120%;
	z-index: -2;
}

/*responsive titre et soustitre*/
	
@media screen and (max-width: 1092px){
	#titre{ 
		font-size: 270%; 
		top: -2em;
	}
}

@media screen and (max-width: 960px){
	#titre{ 
		font-size: 260%; 
	}
}
	
@media screen and (max-width: 821px){
	#titre{
		font-size: 240%;
	}
}
	
@media screen and (max-width: 727px){
	#titre{
		font-size: 230%;
	}
}

@media screen and (max-width: 640px){
	#titre{
		font-size: 200%;
		top: -2.5em;
	}
}

@media screen and (max-width: 500px){
	#titre{
		font-size: 160%;
	}
	
	.soustitre{
		font-size: 40%;
	}
}

@media screen and (max-width: 480px){
	#titre{
		font-size: 140%;
	}
	
	.soustitre{
		font-size: 40%;
	}
}

@media screen and (max-width: 450px){
	#titre{
		font-size: 120%;
		top: -2.8em;
	}
}

@media screen and (max-width: 1092px){
	.soustitre{
		font-size: 105%;
		top: -2.4em;
	}
}

@media screen and (max-width: 960px){
	.soustitre{
		font-size: 90%;
		top: -3em;
	}
}
	
@media screen and (max-width: 787px){
	.soustitre{
		font-size: 80%;
	}	
}

@media screen and (max-width: 640px){	
	.soustitre{
		top: -4.5em;
		font-size: 68%;
	}
}

@media screen and (max-width: 480px){
	.soustitre{
		top: -4.8em;
		font-size: 60%;
	}
}

/*reseaux*/

.reseaux{
	display: inline-block;
	float: right;
	position: relative; 
	top: -6em; 
	right: 2%;
	opacity: .8;
}

.reseaux img{
	width: 40%;
}

.reseaux img{
	border-radius: 50px;
}

/*barre de menu*/

a{
	font-size: 85%; 
	text-transform: uppercase;
} 

.menu{ 
	width: 60%;
	justify-content: center;
	margin-left: 18%;
	display: flex;
	text-transform: uppercase;
}

.menu li{
	flex: 1;
    text-align: center;
	position: relative; /*necessaire pour empecher que la page descende quand on ouvre les sous onglets*/
}

.menu a{
	font-family: impact; 
	font-size: 120%;
	text-decoration: none; 
	color: #38BAB1;
	opacity: .9;
    display: block;
    padding: 3px 0;
}

.menu a:hover{
	background: #E7E7E7;
	border-radius: 10px;
	color: #006565;
}

.sousmenu{
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	opacity: 0;
}

.suronglet:hover > .sousmenu{
	opacity: 1;
	transition: opacity 1s;
}

.textesuronglet{
	font-family: impact; 
	font-size: 120%;
	text-decoration: none;
	color: #38BAB1;
	opacity: .9;
	display: block;
	padding: 3px 0;
}

.textesuronglet:hover{
	color: #006565;
	background: #E7E7E7;
	border-radius: 10px;
}

.sousonglet{
	margin: 6px 0;
}

/*RESPONSIVE*/

@media screen and (max-width: 1092px){	
	.reseaux{ 
		right: 0%;
		top: -6.5em;
	}
	
	.reseaux img{
		width: 35%;
	}
	
	.menu{
		top: -2em;
	}
}

@media screen and (max-width: 1092px){
	.menu{
		width: 66%;
		margin-left: 15%;
		position: relative; 
		top: -2em;
	}
	
	.suronglet{
		font-size: 91%;
	}
	
	.menu a{
		font-size: 105%;
	}
}

@media screen and (max-width: 972px){
	.menu{
		width: 70%;
		margin-left: 12%;
		top: -3em;
	}
	
	.reseaux{
		left: 2%; 
	}
}

@media screen and (max-width: 821px){
	.menu{
		margin-left: 12%;
	}
	
	.reseaux img{
		width: 30%; 
	}
	
	.reseaux{
		top: -6em
	}
}

@media screen and (max-width: 792px){
	.reseaux img{
		width: 27%; 
	}
	
	.reseaux{
		left: 4%;
	}
}

@media screen and (max-width: 700px){
	.menu{
		width: 80%;
		margin-left: 5%;
	}
	
	.suronglet{
		font-size: 85%;
	}
	
	.menu a{
		font-size: 98%;
	}
	
	.reseaux{
		left: 6%;
	}
}

@media screen and (max-width: 640px){
	.menu{
		margin-left: 0%;
		top: -4em;
	}
	
	.logo{
		width: 8%;
	}
	
	.menu a{
		font-size: 94%; 
	}
	
	.suronglet{
		font-size: 79%;
	}
	
	.reseaux{
		left: 7%;
		top: -5.8em;
	}
}

@media screen and (max-width: 580px){
	.logo{
		width: 7%;
	}
	
	.reseaux{
		left: 8%;
	}
	
	.reseaux img{
		width: 25%;
	}
}

@media screen and (max-width: 520px){
	.logo{
		width: 6%;
		position: relative;
		top:-.5em;
	}
}
	
@media screen and (max-width: 515px){
	.menu a{
		font-size: 91%; 
	}
	
	.suronglet{
		font-size: 76%;
	}
}

@media screen and (max-width: 490px){
	.menu{
		width: 95%;
		position: relative;
		left: -2em;
		top: -3.9em;
	}
	
	.menu a{
		font-size: 80%; 
		font-weight: bold;
	}
	
	.suronglet{
		font-size: 65%;
		font-weight: bold;
	}
	
	.reseaux{
		left: 20%; 
		top: -4.3em; 
	}
	
	.reseaux img{
		width: 20%;
	}
}

/*fin du menu*/

/*commun à toutes les pages titre des sections et liens*/

.titresection{ 
	font-family: impact;
	font-size: 180%; 
	text-align: center; 
	opacity: .9;
	text-transform: uppercase;
}

/*mise en forme générale des liens*/


a{
	color: #4DA1A1;
}

a:hover{
	color: #00ADAD;
}


@media screen and (max-width: 700px){
	.titresection{ 
		font-size: 125%;
	}
}

@media screen and (max-width: 480px){
	.titresection{ 
		font-size: 100%;
	}
}

/*fin elements communs*/



/*PAGE 1*/

/*BOUTONS PAGE 1*/

.bouton1{
	background: black; 
	color: white;  
	text-transform: uppercase;
	opacity: .8;
	padding: 8px; 
	border-radius: 10px;
	display: inline-block; 
	text-align: center;
	text-decoration: none; 
	font-weight: bold;
	margin: 0 45%;
	width: 25%;
	position: relative; 
	left: -5em;
}

@media screen and (max-width: 850px){
	.bouton1{
		width: 30%; 
	}
}

@media screen and (max-width: 700px){
	.bouton1{
		left: -2.5em; 
	}
}

.bouton1:hover, .bouton2:hover{
	background: linear-gradient(to right, #565656, #5E5E5E, grey, #DEDEDE);
	color: black; 
	font-weight: bolder;
}


/*section presentation*/

.presentation{
	width: 100%; 
}

.portrait{
	float: left;
	width: 30%;
	margin-left: 10%;
	margin-bottom: 3em;
	position: relative;
	border-radius:10%;
}

.description{
	display: inline-block;
	float: right;
	width: 50%;
	text-align: justify; 
	margin-right: 5%;
	font-size: 105%;
	height: 500px; 
}


/*responsive portrait et description*/

@media screen and (max-width: 871px){ /*baisser un peu l'image quand le texte devient plus petit*/
	.portrait{
		top: 2em;
	}
}

@media screen and (min-width: 1616px){
	.description{
		position: relative;
		top: 2.5em;
	}
}

@media screen and (max-width: 1165px){
	.description{
		font-size: 90%;
		position: relative; 
		top: -14px;
	}
	
	.titresection{ 
		font-size: 160%;
	}
}

@media screen and (max-width: 951px){
	.portrait{
		margin-left: 5%; 
		width: 35%;
	}
	
	.titresection{ 
		font-size: 145%;
	}
}

@media screen and (max-width: 773px){
	.presentation{
		position: relative; 
		top: -2em;
	}
}
	
@media screen and (max-width: 700px){
	.portrait{ 
		display: block;
		width: 50%;
		margin-left: 25%;
	}
	
	.titresection{ 
		font-size: 135%;
	}
	
	.description{
		width: 80%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 500px){
	.titresection{ 
			font-size: 115%;
	}
}


/*section video*/


.textevideo{ 
	display: inline-block;
	width: 45%; 
	opacity: .9;
	float: right;
	position: relative;
	right: 5%;
	height: 500px; 
}

@media screen and (max-width: 1185px){
	.textevideo{
		font-size: 96%;
	}
	
	.video{
		left: 3%;
	}
}

@media screen and (max-width: 1140px){
	.textevideo{
		font-size: 93%;
	}
}

@media screen and (max-width: 520px){
	.textevideo{
		font-size: 82%;
	}
}

@media screen and (max-width: 1076px){
	.video{
		display: block;
		width: 60%; 
		margin-left: 20%;
	}
	
	.textevideo{
		display: block;
		top: 1em;
		right: 15%;
		width: 65%;
		text-align: center;
	}
}

@media screen and (max-width: 980px){
	.video{
		width: 70%;
		margin-left: 15%;
	}
}

/*bouton YOUTUBE*/

.boutonyt{
	background: linear-gradient(to right, #BDBDBD, #FAFAFA, #DB9595); 
	color: #F20000; 
	border-radius: 10px;
	padding: 6px;
	border: 1px outset #E61717;
	text-decoration: none;
	font-weight: bold;
}

.boutonyt:hover{
	opacity: .9;
	color: #F0F0F0;
	background: #E61717;
	border: 1px outset grey;
}

/*section diapo*/

.diapo{ 
	text-align: center; 
	width: 100%;
}

.photo{
	width: 22.5%; /*dur a mettre en pourcent car les photos ont pas la meme taille*/
	border-radius: 20px;
	padding: 5px; 
}

.bouton2{
	background: black; 
	color: #F0F0F0;  
	text-transform: uppercase;
	opacity: .9;
	padding: 8px; 
	border-radius: 10px;
	display: inline-block; 
	width: 140px; 
	margin: 0 auto;
	text-align: center;
	text-decoration: none; 
	font-weight: bold;
}


/*footer*/

footer{
	text-align: center;
	font-size: 90%; 
	color: black; 
	border-top: 1px solid black;  
	background-color: #141414;
	opacity: 0.9;
}

.pub img{
	margin: 0 auto;
	box-shadow: 1px 1px 1px grey; 
	border: 1px outset grey;
	width: 15%;
}

footer a{
	color: #C5C7C7; 
	font-weight: bold; 
}

.reseauxbas{
	text-decoration: none; 
	float: right; 
	position: relative; 
	left:-2.5em;
	margin-bottom: -2.5em;
	top: 4em;
	z-index:2; /* necessaire pour que ce soit cliquable, sinon ça se met en dessous*/
	opacity: .6;
}
	
.reseauxbas img{
	border-radius: 10px;
	width: 35%;
}

@media screen and (max-width: 650px){
	.reseauxbas{
		display: none;
	}
}

footer a:hover{
	color: #00AAAA;
}

/*page5*/

.photocontact{
	margin: 4% 0% 4% 5%;
	border-radius: 15px;
	width: 30%;
}

.textecontact{
	display: inline-block;  
	float: right; 
	margin-top: 5.5em;
	width: 55%;
	position: relative;
	right: 2em; 
	top: -5em;
}

.page5intro{
	font-weight: bold;
	text-transform: uppercase;
	color: #008181;
}

.contactezmoi{
	font-weight: bold;
	text-transform: uppercase;
}

.texteinsta{
	text-decoration: none; 
	font-weight: bold; 
	background: linear-gradient(to right, #FBBE54, #E22647, #A84393, #5757A1); /*pour mettre le texte aux couleurs d'insta - cf fiche - */
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

.numero{
	background-color: #075E54;
	color: #F0F0F0;
	font-weight: bold;
	border-radius: 5px;
	padding: 2px 5px;
	margin-left: 20%;
}

.adressemail{
	color: #0072C6; 
	font-weight: bold;
}

.texteyoutube{
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}

.texteyoutube:hover{
	color: #FF0000;
}

@media screen and (max-width: 1330px){
	.textecontact{
		font-size: 90%;
	}
}

@media screen and (max-width: 1120px){
	.textecontact{
		font-size: 85%;
		top: -5em;
	}
}

@media screen and (max-width: 1030px){
	.textecontact{
		font-size: 80%;
	}
}

@media screen and (max-width: 860px){
	.textecontact{
		top: -6em;
	}
}

@media screen and (max-width: 810px){
	.reseauxbas{
		display: none; 
	}
}

@media screen and (max-width: 700px){
	.photocontact{
		display: none; 
	}
	
	.textecontact{
		width: 90%; 
		font-size: 85%;
		margin: 0 auto;
		top:-2em;
		margin-bottom: 2em;
	}
	
	.bandeau{
		margin-bottom: -1em; 
	}
	
	.menu{
		margin-bottom: -1em; 
	}
}

/*dans le footer*/

.nombas{
	text-transform: uppercase;
	font-size: 140%;
	opacity: .9;
	font-family: impact;
	background: linear-gradient(to right, #97FFFF, #F0F0F0, #7171FF);
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 725px){
	.nombas{
		font-size: 130%;
	}
}

@media screen and (max-width: 550px){
	.nombas{
		font-size: 110%;
	}
}

@media screen and (max-width: 440px){
	.nombas{
		font-size: 90%;
	}
}
