*{
	/*border: 1px solid red;*/
	overflow-x: hidden;
	font-family: palatino linotype;
}

body{
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

.body2{
	margin: 0; 
	padding: 18px 18px 0 18px;
}

p{
	opacity: .9;
}

/*Partie commune (bandeau)*/

.bandeau{
	width: 100%;
}

.logo{
	width: 60px; 
	border: 1px solid white; 
	border-radius: 20px; 
	margin: 20px 20px;
}

@media screen and (max-width: 520px){
	.logo{
		width: 10%;
		position: relative;
		top:-.5em;
	}
}

#titre{
	font-weight: bolder; 
	font-size: 320%;
	text-transform: uppercase; 
	text-align: center; 
	margin: 0 0 -1.5em 0;
	display: block; 
	position: relative; 
	top: -1.5em;
	font-family: impact;
	color: RGBa(0,0,0,.8);
	z-index: -1;
}
	
@media screen and (max-width: 1092px){
	#titre{ 
		font-size: 270%; 
		top: -2em;
	}
}

@media screen and (max-width: 960px){
	#titre{ 
		font-size: 260%; 
	}
}
	
@media screen and (max-width: 821px){
	#titre{
		font-size: 240%;
	}
}
	
@media screen and (max-width: 727px){
	#titre{
		font-size: 230%;
	}
}

@media screen and (max-width: 640px){
	#titre{
		font-size: 160%;
		top:-3em;
	}
}

@media screen and (max-width: 500px){
	#titre{
		font-size: 160%;
	}
}

	
.soustitre{
	color: #006565;
	opacity: .8;
	font-weight: lighter;
	padding: 2px; 
	border-radius: 10px; 
	text-align: center; 
	margin: 0;
	display: block; 
	position: relative; 
	top: -18px;
	font-family: Lucida Handwriting, impact, palatino linotype, Georgia;
	font-style: oblique;
	font-size: 120%;
	z-index: -2;
}



@media screen and (max-width: 1092px){
	.soustitre{
		font-size: 105%;
		top: -2.4em;
	}
}

@media screen and (max-width: 960px){
	.soustitre{
		font-size: 90%;
		top: -3em;
	}
}
	
@media screen and (max-width: 787px){
	.soustitre{
		font-size: 85%;
	}	
}

@media screen and (max-width: 640px){	
	.soustitre{
		top: -5.2em;
		font-size: 70%;
	}
}

@media screen and (max-width: 499px){
	.soustitre{
		top: -5.5em;
		font-size: 65%;
	}
}

.reseaux{
	display: inline-block;
	float: right;
	position: relative; 
	top: -7.5em; 
	right: 4%;
	opacity: .9;
}

@media screen and (max-width: 800px){	
	.reseaux img{
		width: 25px;
	}
}

.reseaux img{
	border-radius: 50px;
}

/*debut de la barre de menu*/

a{
	color: black;
	font-weight: bolder;
	font-size: 85%; 
	text-transform: uppercase;
} 
/*mise en forme générale des liens*/


a{
	color: #006565; 
}

a:hover{
	color: #00ADAD;
}

.menu{ 
	width: 60%;
	justify-content: center;
	margin-left: 18%;
	display: flex;
	text-transform: uppercase;
}

.menu li{
	flex: 1;
	opacity: .8;
    text-align: center;
	position: relative; /*necessaire pour empecher que la page descende quand on ouvre les sous onglets*/
}

.menu a{
	font-family: impact; 
	font-size: 120%;
	text-decoration: none; 
	color: black;
    display: block;
    padding: 3px 0;
}

.menu a:hover{
	background: #E7E7E7;
	border-radius: 10px;
	color: #006565;
}

.sousmenu{
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	opacity: 0;
}

.suronglet:hover > .sousmenu{
	opacity: 1;
	transition: opacity 1s;
}

.sousonglet{
	margin: 6px 0;
}

.suronglet1{
	font-size: 120%;
	font-family: impact; 
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
	text-transform: uppercase;
	opacity: .8;
}

@media screen and (max-width: 1092px){
	.menu{
		width: 66%;
		margin-left: 15%;
		position: relative; 
		top: -12px;
	}
	
	.suronglet{
		font-size: 91%;
	}
	
	.menu a{
		font-size: 105%;
	}
}

@media screen and (max-width: 821px){
	.menu{
		width: 70%;
		margin-left: 12%;
		top: -20px;
	}
}

@media screen and (max-width: 700px){
	.menu{
		width: 80%;
		margin-left: 5%;
	}
	
	.suronglet{
		font-size: 85%;
	}
	
	.menu a{
		font-size: 98%;
	}
}

@media screen and (max-width: 640px){
	.menu{
		margin-left: 0%;
		width: 80%;	
		top: -3em;
	}
	
	.menu a{
		font-size: 94%; 
	}
	
	.suronglet{
		font-size: 79%;
	}
}

@media screen and (max-width: 499px){
		.menu a{
		font-size: 91%; 
	}
	
	.suronglet{
		font-size: 76%;
	}
}
	
/*fin du menu*/

/*commun à toutes les pages*/

.titresection{ 
	font-family: impact;
	font-size: 180%; 
	text-align: center; 
	opacity: .8;
	text-transform: uppercase;
}

.bouton{
	background: black; 
	color: white;  
	text-transform: uppercase;
	opacity: .8;
	padding: 8px; 
	border-radius: 10px;
	display: inline-block; 
	width: 140px; 
	margin: 0 45%;
	text-align: center;
	text-decoration: none; 
	font-weight: bold;
}

.bouton:hover, .bouton2:hover{
	background: linear-gradient(to right, #5E5E5E, grey, #DEDEDE);
	color: black; 
	font-weight: bolder;
}

/*fin elements communs*/

/*page1*/


/*section presentation*/

.portrait{
	float: left;
	width: 30%;
	margin-left: 10%;
	margin-bottom: 3em;
	position: relative;
	border-radius:10%;
}

@media screen and (max-width: 871px){
	.portrait{
		top: 2em;
	}
}

.description{
	display: inline-block;
	float: right;
	width: 50%;
	text-align: justify; 
	margin-right: 5%;
	font-size: 105%;
	height: 500px; 
}

@media screen and (min-width: 1616px){
	.description{
		position: relative;
		top: 2.5em;
	}
}

@media screen and (max-width: 1165px){
	.description{
		font-size: 90%;
		position: relative; 
		top: -14px;
	}
	
	.titresection{ 
		font-size: 160%;
	}
}

@media screen and (max-width: 951px){
	.portrait{
		margin-left: 5%; 
		width: 35%;
	}
	
	.titresection{ 
		font-size: 145%;
	}
}

@media screen and (max-width: 773px){
	.presentation{
		position: relative; 
		top: -2em;
	}
	
	.titresection{ 
		font-size: 135%;
	}
}
	
@media screen and (max-width: 700px){
	.portrait{ 
		display: block;
		width: 40%;
		margin-left: 30%;
	}
	
	.titresection{ 
		font-size: 115%;
	}
	
	.description{
		width: 80%;
		margin-right: 10%;
	}
}


@media screen and (max-width: 700px){
	.titresection{ 
		font-size: 125%;
	}
}

@media screen and (max-width: 499px){
	.titresection{ 
		font-size: 110%;
	}
}

/*section video*/

/*a supprimer video :
.video{
	width: 560px;
	height: 315px;
	background-color: black;
	margin: 1% 1% 1% 5%; 
	float: left;
}
*/

.textevideo{ 
	display: inline-block;
	width: 45%; 
	opacity: .8;
	float: right;
	position: relative;
	right: 5%;
	height: 500px; 
}

@media screen and (max-width: 1185px){
	.textevideo{
		font-size: 96%;
	}
	
	.video{
		left: 3%;
	}
}

@media screen and (max-width: 1140px){
	.textevideo{
		font-size: 93%;
	}
}

@media screen and (max-width: 520px){
	.textevideo{
		font-size: 82%;
	}
}

@media screen and (max-width: 1076px){
	.video{
		display: block;
		width: 60%; 
		margin-left: 20%;
	}
	
	.textevideo{
		display: block;
		top: 1em;
		right: 15%;
		width: 65%;
		text-align: center;
	}
}

@media screen and (max-width: 980px){
	.video{
		width: 70%;
		margin-left: 15%;
	}
}

/*bouton YOUTUBE*/

.boutonyt{
	background-color: #EDEDED; 
	color: #E61717; 
	border-radius: 10px;
	padding: 6px;
	border: 2px outset #E61717;
	text-decoration: none;
	opacity: .8;
}

.boutonyt:hover{
	opacity: .9;
	color: white;
	background: #E61717;
	border: 1px outset grey;
}

/*section diapo*/

.diapo{ 
	text-align: center; 
	width: 100%;
}

.photo{
	width: 20%; /*dur a mettre en pourcent car les photos ont pas la meme taille*/
	border-radius: 20px;
	padding: 5px; 
}

.bouton2{
	background: black; 
	color: white;  
	text-transform: uppercase;
	opacity: .8;
	padding: 8px; 
	border-radius: 10px;
	display: inline-block; 
	width: 140px; 
	margin: 0 auto;
	text-align: center;
	text-decoration: none; 
	font-weight: bold;
}


/*footer*/

footer{
	text-align: center;
	font-size: 90%; 
	color: black; 
	border-top: 1px solid black;  
	background-color: #EDEDED;
	opacity: 0.9;
}

.pub img{
	margin: 0 auto;
	box-shadow: 1px 1px 1px grey; 
	border: 1px outset grey;
	width: 15%;
}

footer a{
	color: black; 
	font-weight: bold; 
}

.reseauxbas{
	text-decoration: none; 
	float: right; 
	position: relative; 
	left:-1.5em;
	margin-bottom: -2.5em;
	top: 2em;
	z-index:2; /* necessaire pour que ce soit cliquable, sinon ça se met en dessous*/
}
	
.reseauxbas img{
	border-radius: 50px;
}

@media screen and (max-width: 650px){
	.reseauxbas{
		display: none;
	}
}

footer a:hover{
	color: #00AAAA;
}

/*page5*/

.photocontact{
	margin: 4% 0% 4% 5%;
	border-radius: 15px;
	width: 30%;
}

.textecontact{
	display: inline-block;  
	float: right; 
	margin-top: 5.5em;
	width: 55%;
	position: relative;
	right: 2em; 
	top: -5em;
}

.page5intro{
	font-weight: bold;
	text-transform: uppercase;
	color: #008181;
}

.contactezmoi{
	font-weight: bold;
	text-transform: uppercase;
}

.texteinsta{
	text-decoration: none; 
	font-weight: bold; 
	background: linear-gradient(to right, #FBBE54, #E22647, #A84393, #5757A1); /*pour mettre le texte aux couleurs d'insta - cf fiche - */
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

.numero{
	background-color: #075E54;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	padding: 2px 5px;
}

.adressemail{
	color: #0072C6; 
	font-weight: bold;
}

.texteyoutube{
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}

.texteyoutube:hover{
	color: #FF0000;
}

@media screen and (max-width: 1330px){
	.textecontact{
		font-size: 90%;
	}
}

@media screen and (max-width: 1120px){
	.textecontact{
		font-size: 85%;
		top: -5em;
	}
}

@media screen and (max-width: 1030px){
	.textecontact{
		font-size: 80%;
	}
}

@media screen and (max-width: 860px){
	.textecontact{
		top: -6em;
	}
}

@media screen and (max-width: 700px){
	.photocontact{
		display: none; 
	}
	
	.textecontact{
		width: 90%; 
		font-size: 85%;
		margin: 0 auto;
		top:-2em;
		margin-bottom: 2em;
	}
	
	.bandeau{
		margin-bottom: -1em; 
	}
	
	.menu{
		margin-bottom: -1em; 
	}
}

/*dans le footer*/

.nombas{
	text-transform: uppercase;
	font-size: 150%;
	opacity: .9;
	font-family: impact;
}

@media screen and (max-width: 725px){
	.nombas{
		font-size: 150%;
	}
}